.slideshow-box {
	grid-row: 1 / span 4;
	grid-column: 3;
	background-color: rgba(0, 0, 0, 0.4);
	align-items: center;
	justify-content: center;

	display: flex;
	flex-direction: column;
}

.slideshow {
	align-self: center;
	justify-self: center;
	height: 220px;

	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.slideshow::-webkit-scrollbar {
	display: none;
}

.slider {
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	transition: ease 1000ms;
}

.slide {
	margin: 1em;
	max-height: 180px;
}

.copy {
	grid-row: 3;
	grid-column: 3;
}

.dots {
	text-align: center;
}
.dot {
	display: inline-block;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	cursor: pointer;
	margin: 15px 7px 0px;
	background-color: #c4c4c4;
}
