.lookbook {
    z-index: 1;
    background-color: #e6ccb2;
    margin: 0 auto;
    width: 80%;
    height: 20vh;
    display: grid;
    grid-template-columns: repeat(6, minmax(80px, 1fr));
    grid-template-rows: repeat(1, minmax(160px, 1fr));
}

.thumbnail {
    align-self: center;
    justify-self: center;
    width: 80px;
    opacity: 0.7;

    transition-duration: 1s;
    transition-property: all;
}

.thumbnail:hover {
    width: 120px;
    opacity: 1;
}


@media (min-width: 500px) {
    .lookbook {
        width: 600px;
    }
    
}