.actor {
	min-height: fit-content;
	padding: 2em;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.actor-name {
	font-size: 30px;
	grid-row: 1;
	grid-column: 3;

	border-bottom: black solid 1px;
}

.actor-photobox {
	max-width: 300px;
}

.actor-photo {
	margin: 0 auto;
	max-height: 180px;
	max-width: 90%;

	color: #2b1810;
}

.actor-bio {
	align-self: center;
	height: fit-content;
	line-height: 1.5;
	z-index: 1;
	padding: 1em;
	background-color: whitesmoke;
	opacity: 0.7;
	animation: fadein 5s;
}

.actor-a-tag {
	line-height: 1.5;
	height: 100%;
	align-self: center;
	text-decoration: none;
	text-decoration: bold;
	font-size: large;
}

@media (min-width: 1100px) {
	.actor {
		height: 70vh;

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.actor-photobox {
		grid-row: 1;
		grid-column: 2;
		align-self: center;
	}

	.actor-photo {
		max-height: fit-content;
	}

	.actor-name {
		font-size: 40px;
		grid-row: 1;
		grid-column: 3;
		align-self: start;

		margin: 0 auto;
	}
	.actor-bio {
		height: 300px;
		width: 325px;
		grid-row: 1;
		grid-column: 3;
		/* align-self: end; */
		justify-self: center;
	}
}
