@media (max-width: 1099px) {

    .talent-box {
        margin-top: -40vh;
    }
    .actor-box {
        margin: 0;
            height: 100vh;
            width: 100vw;
            background-color: rgba(255, 255, 255, 0.2);
        }

    .actor {
        height: 105vh;
        width: 100vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: local;

        overflow: hidden;
        margin-top: 0;
    }

    .actor-bio {
        padding: 0;

        height: 105vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.6) ;

        display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: start;
    }

    .actor-name-phone-box {
        height: 20vh;
        display: flex;
        flex-direction: row;

        align-items: end;
        justify-content: space-between;
    }

    .actor-name {
        margin: 0;
        margin-top: 0;
        margin-left: 5vw;
            width: 60vw;
    }
    .actor-button {
        align-self: center;
        justify-self: center;
        border: none;
        padding: 0.5em;
        background-color: antiquewhite;
        color: black;
        font-family: 'Forum', sans-serif;
        font-size: 16px;
    }



    .actor-bio-copy{
        margin-left: 5vw;
        transition: ease;
        width: 90vw;
        animation: slide-down 2s;
    }


    .actor-photo {
        max-width: 100vw;

    }

        .actor-a-tag {
            line-height: 1;
            margin-left: 5vw;
            height: 35px;
            align-self: center;
            margin-bottom: 2vh;
        }


        @keyframes slide-down {

            from {
                transform: translate(0,-200%);
            }

            to {
                transform: translate(0,0);
            }
            
        }
}