.zoom {
	position: fixed;
	z-index: 1;
	padding:1em;
	
	display: flex;
	align-items: start;
	justify-content: center;

	height: 100%;
	width: 100%;
}

.zoom-photo {
	max-height: 400px;
}

.slideshow-box {
	grid-row: 1;
	grid-column: 2;
	align-items: center;
	justify-content: center;

	display: flex;
	flex-direction: column;
	margin: 1em;
}

.slideshow {
	align-self: center;
	justify-self: center;
	height: 200px;

	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.slideshow::-webkit-scrollbar {
	display: none;
}

.slider {
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	transition: ease 3000ms;
}

.slide {
	margin: 1em;
	max-height: 180px;
}

.copy-box {
	grid-row: 1;
	grid-column: 2;
	margin-top: 3em;
	align-self: end;
	justify-self: center;
	width: 260px;

	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.copy-slider {
	display: flex;
	flex-direction: row;
	transition: ease 1800ms;
	transition-delay: 200ms;

	justify-content: space-evenly;
}

.copy {
	height: 60px;
	width: 250px;

	align-self: center;
	justify-self: center;

	line-height: 1.5;
	font-weight: 900;
}
