.zoom {
	z-index: 2;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	height: 100%;
	width: 100%;
}

.zoom-photo {
	position: fixed;
	left: 25%;
	top: 25%;
	max-height: 400px;
}

.slideshow-box {
	grid-row: 1 / span 4;
	grid-column: 2;
	align-items: center;
	justify-content: center;

	display: flex;
	flex-direction: column;
}

.slideshow {
	align-self: center;
	justify-self: center;
	height: 220px;

	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.slideshow::-webkit-scrollbar {
	display: none;
}

.slider {
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	transition: ease 1000ms;
}

.slide {
	margin: 1em;
	max-height: 180px;
}

.copy {
	grid-row: 3;
	grid-column: 3;

	font-weight: 900;
}
