.lookbook {
	animation: lookbook 3s;
	background-color: rgba(230, 204, 178, 0.6);

	position: fixed;
	z-index: 2;
	left: 1em;
	top: 10em;

	height: 200px;
	width: 100px;

	display: grid;
	gap: 1em;
	padding: 1em;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	overflow: hidden;

	animation: expand 5s;
}

.lookbook:hover {
	background-color: rgba(0, 0, 0, 0.7);
	height: fit-content;
	width: fit-content;
	grid-template-rows: repeat(3, minmax(80px, 1fr));
	grid-template-columns: repeat(2, minmax(100px, 1fr));
}

.lookbook-title {
	display: none;
	animation: slideright 2s;
}

.header {
	margin-bottom: 1em;
	height: 10%;
	color: #2b1810;
}

.thumbnail {
	margin-top: -6em;
	align-self: center;
	justify-self: center;
	width: 70px;

	transition: ease-in-out 400ms;
}

.lookbook:hover > .thumbnail {
	margin-top: 0;
	display: inline;
	opacity: 0.8;
}
.lookbook:hover > .thumbnail:hover {
	transform: scale(1.2, 1.2);
	opacity: 1;
	z-index: 3;
}

@media (min-width: 1000px) {
	.lookbook {
		left: 1em;
		top: 15em;
		padding: 1em;
		height: fit-content;
		width: fit-content;

		transition: ease-in-out 700ms;

		display: grid;
		gap: 1em;
		grid-template-rows: repeat(3, minmax(80px, 1fr));
		grid-template-columns: repeat(2, minmax(100px, 1fr));
	}

	.lookbook-title {
		display: flex;
	}
	.lookbook:hover > .lookbook-title {
		display: none;
	}

	.thumbnail {
		margin-top: 0;
		width: 80px;

		transition: ease-in-out 400ms;
	}
}
