.lookbook {
	display: none;
	animation: slideup 3s;
}
.lookbook-title {
	display: none;
	animation: slideright 2s;
}

.header {
	margin-bottom: 1em;
	height: 10%;
	color: #2b1810;
}

.thumbnail {
	margin: 0 -15em;
	align-self: center;
	justify-self: center;
	width: 80px;

	transition: ease-in-out 400ms;
}

@media (min-width: 500px) {
	.lookbook {
		z-index: 2;
		position: fixed;
		left: 1em;
		bottom: 2em;
		background-color: rgba(0, 0, 0, 0.6);
		padding: 1em;

		transition: ease-in-out 700ms;

		display: grid;
		gap: 1em;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		overflow: hidden;
		height: 20vh;
		width: 220px;
	}

	.lookbook:hover {
		background-color: rgba(230, 204, 178, 0.6);

		width: 80%;
		grid-template-rows: repeat(2, minmax(160px, 1fr));
		grid-template-columns: repeat(7, minmax(160px, 1fr));
	}

	.lookbook:hover > .thumbnail {
		grid-row: 1;
		opacity: 0.7;
	}

	.lookbook-title {
		display: flex;
		position: fixed;
		bottom: 8em;
		left: 1em;
	}

	.thumbnail:hover {
		transform: scale(1.2, 1.2);
		opacity: 1;
	}
}
