.talent::-webkit-scrollbar {
	display: none;
}

.headshot {
	grid-column: 2;
	justify-self: center;
	width: 300px;
}

.a-tag {
	grid-column: 2;
}

@media (min-width: 1000px) {
	.tall-rectangle {
		background-color: #b5c99a;
		z-index: -1;
		position: fixed;
		align-self: center;
		left: 500px;
		top: 361px;
		height: 250px;
		width: 40px;

		animation: expand 6s infinite alternate;
	}

	.dot {
		display: inline-block;
		position: fixed;
		z-index: -3;
		top: 360px;
		left: 650px;
		height: 250px;
		width: 250px;
		border-radius: 50%;
		cursor: pointer;
		margin: 15px 7px 0px;
		background-color: #48cae4;
		animation: hover 6s infinite alternate;
	}

	.circle {
		background-color: white;
		z-index: -2;
		position: fixed;
		align-self: center;
		top: 411px;
		left: 695px;
		height: 175px;
		width: 175px;
		border-radius: 50%;
		animation: expand 8s;
	}

	@keyframes expand {
		from {
			transform: scale(0, 0);
		}

		to {
			transform: scale(1, 1);
		}
	}

	@keyframes squeeze {
		from {
			height: 20px;
		}

		to {
			height: 40px;
		}
	}

	@keyframes hover {
		from {
			top: 345px;
		}

		to {
			top: 370px;
		}
	}

	@keyframes arm {
		from {
			top: 435px;
			left: 820px;
		}

		33% {
			top: 455px;
			left: 805px;
		}

		66% {
			top: 455px;
			left: 845px;
		}

		to {
			top: 435px;
			left: 820px;
		}
	}

	@keyframes slideright {
		from {
			left: -30em;
		}
		to {
			left: 1em;
		}
	}

	@keyframes fadein {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}
}
