.talent::-webkit-scrollbar {
	display: none;
}

.actor {
	margin: 25vh 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	animation: fadein 7s;
}

.actor-photo {
	margin: 0 auto;
	height: 300px;

	color: #2b1810;
}

.actor-bio {
	margin: 1em 1em;
	padding: 1em;
	line-height: 1.5;
	background-color: whitesmoke;
}

.headshot {
	grid-column: 2;
	justify-self: center;
	width: 300px;
}

.a-tag {
	grid-column: 2;
}

@media (min-width: 500px) {
	.actor {
		display: grid;
		grid-template-columns: 2fr 1fr 2fr;
		grid-template-rows: 1fr;
	}

	.actor-photobox {
		grid-row: 1;
		grid-column: 1;

		align-self: end;
	}

	.actor-name {
		font-size: 40px;
		grid-row: 1;
		grid-column: 2;
		align-self: start;

		margin: 0 auto;
	}
	.actor-bio {
		width: 60%;
		grid-column: 3;
		align-self: flex-start;
		justify-self: center;
	}
	.actor-a-tag {
		height: 100%;
		align-self: center;
	}

	.tall-rectangle {
		background-color: #b5c99a;
		z-index: -1;
		position: fixed;
		align-self: center;
		left: 500px;
		top: 361px;
		height: 250px;
		width: 40px;

		animation: expand 6s infinite alternate;
	}

	.long-rectangle {
		background-color: #b5c99a;
		z-index: -1;
		position: fixed;
		align-self: center;
		top: 612px;
		left: 500px;
		height: 40px;
		width: 200px;
		animation: expand 4s infinite alternate;
	}
	.dot {
		display: inline-block;
		position: fixed;
		z-index: -3;
		top: 360px;
		left: 650px;
		height: 250px;
		width: 250px;
		border-radius: 50%;
		cursor: pointer;
		margin: 15px 7px 0px;
		background-color: #48cae4;
		animation: hover 6s infinite alternate;
	}

	.arm {
		background-color: #c4c4c4;
		z-index: -1;
		position: fixed;
		align-self: center;
		top: 455px;
		left: 845px;
		height: 30px;
		width: 100px;
		animation: arm 9s infinite;
	}

	.white-square {
		background-color: white;
		z-index: -2;
		position: fixed;
		align-self: center;
		top: 351px;
		left: 840px;
		height: 140px;
		width: 140px;
	}

	.circle {
		background-color: white;
		z-index: -2;
		position: fixed;
		align-self: center;
		top: 411px;
		left: 695px;
		height: 175px;
		width: 175px;
		border-radius: 50%;
		animation: expand 8s;
	}

	@keyframes expand {
		from {
			transform: scale(0.8, 0.8);
		}

		to {
			transform: scale(1, 1);
		}
	}

	@keyframes slideup {
		from {
			bottom: -30em;
		}

		to {
			bottom: 2em;
		}
	}

	@keyframes squeeze {
		from {
			height: 20px;
		}

		to {
			height: 40px;
		}
	}

	@keyframes hover {
		from {
			top: 345px;
		}

		to {
			top: 370px;
		}
	}

	@keyframes arm {
		from {
			top: 435px;
			left: 820px;
		}

		33% {
			top: 455px;
			left: 805px;
		}

		66% {
			top: 455px;
			left: 845px;
		}

		to {
			top: 435px;
			left: 820px;
		}
	}

	@keyframes slideright {
		from {
			left: -30em;
		}
		to {
			left: 1em;
		}
	}

	@keyframes fadein {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}
}
