@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

.about-bg {
    margin-top: -25vh;
    padding-top: 25vh;
    height: 400vh;
    width: 100vw;

    background-image: url(../../Assets/AdobeStock_Brooklyn.jpeg);
        background-position: top;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
}

.about-photo {
    position: fixed;
    z-index: 1;
    bottom: 10vh;
    left: 5vw;
    width: 25vw;
    border: solid black 1px;
    /* border-radius: 100%; */
    
    animation: shrink 4s;
}


.about-copy-box {
    height: 400vh;
    background-color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: -25vh;
    padding-top: 35vh;
    padding-bottom: 5vh;
}

.about-blurb {
    font-family: 'Gruppo', cursive;
    color: white;
    margin-left: 50vw;
    /* position: fixed; */
    /* left: 50vw; */
    height: fit-content;
    width: 45vw;

    line-height: 1.5;
        font-size: 26px;
        font-weight: 800;
}

.about-blurb p {
    z-index: 2;
}

.about-blurb::first-line {
    font-family: 'Playfair Display', serif;
}

.about-link {
    position: fixed;
    left: 15vw;
    bottom: 10vh;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Abel', sans-serif;
}
