@media(max-width: 500px){

    .about-bg {
        margin-top: 15vh;
        padding-top: 10vh;
    }
   
    
        .about-photo {
         display: none;
        }
    
    
        .about-copy-box {
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.7);
            margin-top: -15vh;
            padding-top: 5vh;
            /* padding-bottom: 5vh; */
            overflow: auto;
        }
    
        .about-blurb {
            font-family: 'Gruppo', cursive;
            color: white;
            margin-left: 5vw;
            /* position: fixed; */
            /* left: 50vw; */
            height: fit-content;
            width: 80vw;
    
            line-height: 2;
            font-size: 20px;
            font-weight: 800;
        }
    
       
    
        .about-blurb::first-line {
            font-family: 'Forum', serif;
        }
    
        .about-link {
            left: 0;
            bottom: 0;
            position: relative;

            background-color: peachpuff;
            padding: 0.1em 0.5em;
            text-align: center;
            text-decoration: none;  
            height: 40px;

            text-decoration: none;
            text-decoration-line: none;
            color: black;
            font-size: 30px;
            font-family: 'Forum', sans-serif;
        }
}