@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

.home-photo-box {
	position: fixed;
	top: 20vh;
	left: 10vw;
	animation: home-shrink 3s;

	display: flex;
	flex-direction: column;
}

#about {
	animation: home-slide-down 6s;
	background-color: #3a38bb;
	padding: 0.5em;
	color: aliceblue;
}

.home-background {
	position: fixed;
	top: 25vh;
	left: 30vw;
	height: 40vh;
	width: 90vw;
	background-color: #93bc83;
	z-index: -1;

	/* animation: stretch 3s; */
}

.home-photo {
	z-index: 2;
	width: 15vw;
	border: solid black 2px;
}

.home-headline {
	position: fixed;
	top: 20vh;
	left: 40vw;
	text-align: center;
	align-items: center;
	font-size: 45px;
	font-family: 'Forum', cursive;
	/* animation: home-appear 2s; */
}

#home-mission {
	position: fixed;
	top: 35vh;
	left: 40vw;
	width: 400px;
	height: 5vh;

	font-size: 24px;
	font-family: 'Gruppo';
	animation: home-appear 4s;
}


#home-talent-copy,
#home-coaching-copy {
	position: fixed;
	top: 65vh;
	width: 25%;
	/* padding: 0.5em; */
	height: fit-content;
	/* line-height: 1.5; */
}

#home-talent-copy {
	left: 35vw;
	color: #774936;
	padding: 0.5em;
	animation: home-slide-up 9s;
}
#home-coaching-copy {
	left: 70vw;
	color: #774936;
	padding: 0.5em;
	animation: home-slide-up 10s;
}

#home-talent-copy span,
#home-coaching-copy span {
	font-size: 30px;
	border-bottom: black 1px;
}

#home-talent-link,
#home-coaching-link {
	position: fixed;
	top: 75vh;
	padding: 0.5em;
	text-decoration: none;
	background-color: #3a38bb;
	color: aliceblue;
}

#home-talent-link {
	left: 40vw;
	animation: home-slide-down 12s;
}

#home-coaching-link {
	left: 75vw;
	animation: home-slide-down 13s;
}

.home-copy-box {
	background-color: aliceblue;
}

#home-talent span,
#home-coaching span {
	font-size: 28px;
	/* line-height: 1.5; */
	border-bottom: solid black 1px;
}

#home-contact-copy {
	position: fixed;
	left: 10vw;
	top: 80vh;
}

#home-contact-copy span {
	text-decoration: none;
}

.homePage-link {
	width: fit-content;
	padding: 0.1em;

	font-size: large;
	color: black;
	text-decoration: none;
}

.homePage-link:hover {
	transform: scale(1.1);
	transition: ease 0.4s;
}

@keyframes home-appear {
	from {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes home-shrink {
	from {
		position: fixed;
		top: 31vh;
		left: 9vw;
		transform: scale(1.5);
	}

	40% {
		position: fixed;
		top: 31vh;
		left: 9vw;
		transform: scale(1.5);
	}

	to {
		position: fixed;
		top: 20vh;
		left: 10vw;
		transform: scale(1);
	}
}

@keyframes home-slide-down {
	from {
		opacity: 0;
		transform: translate(0, -225%);

	}
	60% {
		opacity: 0;
		transform: translate(0, -225%);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes home-slide-up {
	from {
		opacity: 0;
		transform: translate(0, 100%);

	}

	70% {
		opacity: 0;
		transform: translate(0, 100%);
	}

	to {
		opacity: 1;
		transform: translate(0, 0);
	}

}
@keyframes stretch {
	from {
		height: 11vh;
	}

	30% {
		height: 11vh;
	}

	to {
		height: 40vh;
	}
	
}
