.landing {
	display: flex;
	flex-direction: column;
	height: 100%;
	color: #2b1810;
}

.headline {
	margin: 0;
	height: 10%;

	color: #2b1810;
}

.left {
	margin-left: 1em;
	align-items: flex-start;
	/* text-align: left; */
}

.right {
	margin-right: 1em;
	align-items: flex-end;
	/* text-align: right; */
}

.button {
	margin-top: 1em;
	width: 200px;
	height: 60px;
	padding: 1em;
	background-color: #a9f0ec;
	border-radius: 1em;
}

.link {
	text-decoration: none;
}

.bio {
	align-self: center;
	background-color: #f9f9f7;
	width: 80%;
	padding: 2em;
}

.actors {
	background-color: #f9f9f7;
}

.body {
	height: fit-content;
	line-height: 1.5;
}

.actors {
	align-self: center;

	width: 80%;
}

@media (min-width: 500px) {
	.blurb {
		display: grid;
		grid-template: 1fr 4fr 1fr / 1fr 5fr 1fr;
	}
	.title {
		grid-column: 2;
	}

	.body {
		grid-area: 2 / 2 / 2 / 2;
	}
}
