@media(max-width: 1099px){

    .contact {
        padding: 10vh;
        margin-top: 15vh;
        height: 85vh;
    }

    .contact-form {
        margin-top: 20vh;
            height: fit-content;
            top: 1vh;
            left: 0vw;
            position: fixed;
            width: 92vw;
            padding-top: 5vh;
            padding-bottom: 10vh;
            background-color: rgba(255, 255, 255, 0);
    
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
        }

        .label {
            color: black;
            margin: 1vh;
            font-size: 18px;
        }
        .input {
            margin: 0;
        }
    
        .contact-button {
            font-size: x-large;
            font-family: 'Forum', Courier, monospace;
            margin-top: 1vh;
            /* margin-bottom: -40vh; */
            align-self: end;
    
            box-shadow: 1px 1px 1px black;        
        }
    

        .contact-photo {
            z-index: 0;
                position: fixed;
                top: 16vh;
                left: 64vw;
                height: 35vw;
                width: 35vw;
                border: 1px solid black;
                box-shadow: none;
        }
    
        .contact-box,
        .contact-block,
        .contact-filter{
            display: none;
        }
}