@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');


.coaching-bg {
    z-index: -2;
    margin-top: -15vh;
    padding-top: 25vh;
     height: fit-content;
    width: 100vw;
    background-image: url(../../Assets/AdobeStock_LightBulbs.jpg);
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#coaching-blurb {
    height: 50vh;
    width: 80vw;
    z-index: 2;

    margin-top: -25vh;
    padding: 25vh 10vw 35vh;

    line-height: 1.6;
    color: antiquewhite;
    font-size: 22px;
    font-family: 'Forum', sans-serif ;
    background-color: rgba(0, 0, 0, 0.8);
}

#coaching-blurb::first-line {
    font-family: 'Forum', serif;
    font-size: 32px;
}

.testimonial {
    padding: 15vh 10vw;
    height: fit-content;
    width: 80vw;
    overflow: auto;;
    background-color: rgba(0, 0, 0, 0.8);
    color: antiquewhite;
    transition: ease;
}

.testimonial::-webkit-scrollbar {
    display: none;
}

.testimonial::first-line {
    font-weight: 800;
}

.testimonial p, .testimonial h4, .testimonial h6 {
    color: antiquewhite;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.6;
    font-family: 'Forum', sans-serif;
    margin: 0;
}


.testimonial h4, .testimonial h6 {
    margin-left: 5vw;
    font-weight: 800;
}

.testimonial h6 {
    transition: ease 2s;
}

.testimonial h4 {
    font-size: 26px;
    transition: ease 1.75s;
}

.testimonial p {
    margin-bottom: 3vh;
    transition: ease 1.5s;
}

.coaching-deco-box{
    font-family: 'Gruppo', cursive;
    display: flex;;
    flex-direction: row;
    /* flex-wrap: wrap; */
    height: fit-content;
    align-items: center;
    justify-content: space-between;
}

.coaching-deco-box p {
    font-size: 32px;
}

#coaching-certification {
    z-index: 3;
    bottom: 10vh;
    margin-left: 15vw;;
    width: 15vw;
    opacity: 0.8;
}


.dissolvedown{
    transform: translateY(100%);
    opacity: 0;
}

.dissolveup{
    transform: translateY(-100%);
    opacity: 0;
}


.appearup {
    opacity: 1;
}

.appeardown {
    opacity: 1;
}
