@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');


.coaching-bg {
    margin-top: -25vh;
    padding-top: 25vh;
    height: 100vh;
    width: 100vw;
    background-image: url(../../Assets/AdobeStock_LightBulbs.jpeg);
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.coaching-filter {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
}
#coaching-blurb {
    position: fixed;
    top: 25vh;
    right: 5vw;
    height: 85vh;
    width: 30vw;
    z-index: 2;

    padding: 0.5em;

    line-height: 2;
    font-size: 18px;
    font-family: 'Gruppo', cursive ;
}

#coaching-blurb::first-line {
    font-family: 'Forum', cursive;
    font-size: 30px;
}

.testimonial {
    position: fixed;
    left: 5vw;
    top: 25vh;
    height: 50vh;
    width: 50vw;
    overflow: auto;;
}

.testimonial::first-line {
    font-weight: 800;
}

.testimonial p {
    color: antiquewhite;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.4;
    font-family: 'Gruppo', cursive;
}

#testimonial-name {
    position: fixed;
    left: 16vw;
    bottom: 10vh;
    font-size: 26px;
    font-family: 'Forum';
    margin: 0;
}

#testimonial-occupation {
    position: fixed;
    left: 16vw;
    bottom: 5vh;
    font-size: 24px;
    font-family: 'Forum';
    margin: 0;
}

#testimonial-button {
    position: fixed;
    left: 52vw;
    bottom: 5vh;
    height: 40px;
    width: 80px;

    padding: 0.1em;
    /* border-radius: 1em; */
    background-color: none;
    border: none;
    font-family: 'Gruppo', cursive;
    font-size: 30px;
}

#testimonial-button:hover {
    transform: scale(1.2);
    transition: ease 0.4s;
}

#coaching-bg-one {
    background-color: rgb(149, 204, 233);
    height: 85vh;
    width: 33vw;
    position: fixed;
    right: 5vw;
    top: 25vh;
}


#coaching-certification {
    position: fixed;
    bottom: 5vh;
    left: 5vw;
    width: 9vw;
    opacity: 0.6;
}