@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');


.coaching-bg {
    /* position: fixed; */
    z-index: -2;
    margin-top: -15vh;
    padding-top: 25vh;
    /* height: 75vh;
     */
     height: fit-content;
    width: 100vw;
    background-image: url(../../Assets/AdobeStock_LightBulbs.jpg);
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-rows: 5fr 1fr; */
}

#coaching-blurb {
    /* position: fixed; */
    /* top: 19vh; */
    /* right: 5vw; */
    height: 50vh;
    width: 60vw;
    z-index: 2;

    margin-top: -25vh;
    padding-top: 35vh;
    padding: 30vh 10vw;
    padding-right: 30vw;

    line-height: 1.6;
    color: antiquewhite;
    font-size: 22px;
    font-family: 'Forum', sans-serif ;
    background-color: rgba(0, 0, 0, 0.8);
}

#coaching-blurb::first-line {
    font-family: 'Forum', serif;
    font-size: 32px;
}

#testimonials-authors-box {
    position: fixed;
    top: 15vh;
    right: 5vw;
    height: fit-content;
    width: 20vw;
}

.author {
    border-bottom: solid antiquewhite 1px;
    /* border-top: solid antiquewhite 1px; */
    padding: 0.5em;
    padding-top: 1vh;
    background-color: rgba(255,255,255,0);
    transition: ease 1s;
    color: antiquewhite;
}

.author:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.testimonials-box {
    grid-row: 1;
    grid-column: 1;
}

.testimonial {
    /* position: fixed; */
    padding: 20vh 10vw;
    padding-right: 30vw;
    /* margin-left: 5vw; */
    /* margin-top: 19vh; */
    height: fit-content;
    width: 60vw;
    overflow: auto;;
    background-color: rgba(0, 0, 0, 0.8);
    color: antiquewhite;
    transition: ease;
}

.testimonial::-webkit-scrollbar {
    display: none;
}

.testimonial::first-line {
    font-weight: 800;
}

.testimonial p, .testimonial h4, .testimonial h6 {
    color: antiquewhite;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.6;
    font-family: 'Forum', sans-serif;
    margin: 0;
}


.testimonial h4, .testimonial h6 {
    margin-left: 5vw;
    /* font-family: 'Forum', sans-serif; */
    font-weight: 800;
}

.testimonial h4 {
    font-size: 26px;
}

.testimonial p {
    margin-bottom: 3vh;
}

.testimonial-name, .testimonial-occupation {
    z-index: 1;
        /* position: fixed; */
        left: 16vw;
        margin: 0;
    }
    
.testimonial-name {
    font-size: 20px;
}

.testimonial-occupation {
    font-size: 18px;
}


#coaching-certification {
    position: fixed;
    z-index: 3;
    bottom: 5vh;
    left: 5vw;
    width: 9vw;
    opacity: 0.8;
}

@keyframes coaching-appear {
    from {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes coaching-slide-up {
    from {
        opacity: 1;
        transform: translate(0, 0);

    }

    to {
        opacity: 0;
        transform: translate(0, -100%);
    }
}

@keyframes coaching-slide-in {
    from {
        opacity: 0;
        transform: translate(-10%, 0);
    }

    50% {
        opacity: 0.9;
        transform: translate(2%, 0);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}