@media(max-width: 500px){
    .coaching-bg {
        /* height:85vh; */
        display: flex;
        flex-direction: column;
        overflow: auto;

        padding-top: 0;
    }

    #coaching-bg-one {
        display: none;
    }

    .coaching-filter {
        margin-top: 0;
        background-color: rgba(0,0,0,0.8);
        /* display: none; */
    }

    #coaching-blurb {
        margin: 0;
        padding: 0;
        padding: 5vh 5vw;
        height: 100vh;
        width: 90vw;
        position: relative;
        color: antiquewhite;
        /* background-color: rgba(0,0,0,0.0); */
    }

    #testimonials-authors-box {
        display: none;
    }

    .testimonial {
        position: relative;
        padding: 0;
        top: 0;
        left: 0;
        height: fit-content;
        width: 100vw;
    }

        .testimonial p {
            margin-left: 5vw;
            margin-bottom: 0;
            width: 90vw;
            font-size: 18px;
            font-family: 'Forum', sans-serif;
        }

        .testimonial h4 {
            margin-top: 0;
        }

        .testimonial h6 {
            margin-bottom: 6vh;
        }
   

        #testimonial-name {
            color: antiquewhite;
            z-index: 1;
            position: fixed;
            left: 5vw;
            bottom: 25vh;
            font-size: 26px;
            font-family: 'Playfair Display', serif;
            margin: 0;
        }
    
        #testimonial-occupation {
            color: antiquewhite;
            z-index: 1;
            position: fixed;
            left: 5vw;
            bottom: 21vh;
            font-size: 18px;
            font-family: 'Abel', sans-serif;
            margin: 0;
        }

        #testimonial-button {
            position: fixed;
            left: 70vw;
            bottom: 12vh;
            height: 40px;
            width: 80px;
    
            padding: 0.1em;
            /* border-radius: 1em; */
            border: none;
            font-family: 'Playfair Display', serif;
            font-size: 30px;
        }

        #testimonial-toggle-button {
            padding: 0.1em;
            z-index: 3;
            position: fixed;
            bottom: 10vh;
            left: 50vw;
            height: 40px;
                width: fit-content;
                /* border-radius: 1em; */
                background-color: antiquewhite;
                border: none;
                font-family: 'Playfair Display', serif;
                font-size: 30px;
        }


#coaching-certification {
    bottom: 10vh;
    left: 65vw;
    width: 200px;
    opacity: 0.6;
}
}