
.blog-post {
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;

    padding: 5vw;

    background-color: antiquewhite;
    border-radius: 1rem;
}