/* @import-normalize; */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Forum&display=swap');


header {
	height: 15vh;
	background-color: peachpuff;
	width: 100vw;
}

main {
	/* margin-top: 23vh; */
	/* background-color: #fae1dd; */
	/* height: 85vh; */
	/* background-color: rgba(245, 245, 245, 0.2);  */
}



#designer-links {
	display: flex;
	width: 10vw;
	justify-content: space-around;
}

@media(max-width: 1099px) {
	header {
		position: fixed;
		top: 0;
		z-index: 2;
	}

}