/* @import-normalize; */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Forum&display=swap');
header {
	height: 15vh;
}

main {
	/* margin-top: 23vh; */
	/* background-color: #fae1dd; */
	/* height: 85vh; */
	/* background-color: rgb(245, 245, 245); */
}



#designer-links {
	display: flex;
	width: 10vw;
	justify-content: space-around;
}


