.Nav {
	height: 20vh;
	width: 100vw;

	display: flex;
	align-items: center;
	justify-content: space-around;
}

.nav-filter {
	height: 20vh;
	width: 100vw;
	z-index: 1;
	position: fixed;
	/* background-color: rgba(0, 0, 0, 0.4); */
}

.link {
	z-index: 2;
	height: 70px;
	width: 100px;

	text-decoration: none;
	font-size: x-large;
	color: antiquewhite;

	text-align: left;
}

.link:hover {
	color: #c4b728;
}

.home-link {
	height: 15vh;
	width: 21vh;
}

.home-link:hover {
	transform: scale(1.2);
	transition: 0.3s ease-in-out;
}
