.Nav {
	z-index: 2;
	position: fixed;
	width: 100vw;
	background-color: #fae1dd;

	display: flex;
	align-items: center;
	justify-content: space-around;

	text-decoration: none;
}

.link {
	text-decoration: none;
	font-size: x-large;
	color: black;
}

.link:hover {
	color: #97a97c;
}

.nav-link {
	background-size: cover;

	height: 80px;
	width: 80px;
	align-items: center;
	justify-content: center;
}
